



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}


.navbar-nav  li a{
  
  color: white !important;
}
.navbar-nav li a:hover{
  color: green!important;
}
.navbar{
  background-image: linear-gradient(to right ,#60ee9b,#3bca5f);
}

.btn{
  border-radius: 20px;
}


.btn:hover{
  color: #60ee9b;


}

/* 
/* ------------------ Banner -------------------------  */
#banner{
margin-top: 40px;
}
#banner h1{
font-family: 'Dancing Script', cursive;

font-size: 50px;
}
#banner P{
color: #3bca5f;
}
.card{
width: 300px;
} */


/* ------------------------------ABOUT US------------------------  */

#about{
margin-top: 55px;
background-color: #ecf3ffa8;
}
#about h1{
font-family: 'Dancing Script', cursive;
text-align: center;

font-size: 50px;
}
#about p{
text-align: center;
color: #308d47;
}
#about img{
width: 75%;
height: 75%;
}


/* --------------------- OPP---------------------  */
#opp{
margin-top: 80px;
}
.icon i{
color: #5cb874;
font-size: 42px
}
.row .col-md-4{
padding: 12px 23px;
}
.row .col-md-4 h3{
padding: 12px 0;
}



/* ------------------ AGENDAS-------------------------  */

#problems{
margin-top: 80px;
background: url('images/plants/bg2.jpg');
/* background-color: rgb(184, 250, 204); */
background-repeat: no-repeat;
background-size: cover;
}

#problems .col-md-4{
text-align: center;



/* padding: 0 ; */

}
#problems h1{
color: rgb(15, 59, 109);
}
#problems .card-title{
color: #3bca87;
}
#problems .card-text{
color: gray;
}
#problems .col-md-4 :hover{
/* background-image: url('images/plants/bg2.jpg'); */
background-color: rgb(101, 192, 214);
background-repeat: no-repeat;
background-size: cover;

}
#problems .col-md-4 :hover .card-title {
color: rgb(15, 59, 109);
background: none;
font-weight: 500;
}
#problems .col-md-4 :hover .card-text{
color: #fff;
background: none;
font-weight: 500;
z-index: 999;
}





/* --------------------- SLOGANS -------------------------------  */

#slogans{
margin-top: 80px;
background-color: #ecf3ffa8;

}
#slogans h1{
text-align: center;
}
#slogans .row p{
font-family:  'Dancing Script', cursive;
font-size: 40px;
}
/* #slogans .row .right{
margin-top:5px;
} */
#slogans .row .right img{
height: 220px;

}



/* ------------------------- TEAM--------------------------------  */


.team-page-section{
position:relative;
padding-top:70px;

}


.team-page-section .team-block{
margin-bottom:60px;
}

.sec-title{
position:relative;
z-index:1;
margin-bottom:65px;
}
.lower-content p{
font-size:0.7em;
text-align:left;
color: #393939; 
}

.sec-title .title{
font-family: Red Hat Display;
position:relative;
font-size:60px;
color:#53bced;
font-weight:900;
margin:5px 0px 5px 0px;
text-transform:capitalize;
line-height: 79px;
}

.sec-title .separator{
position:relative;
width:40px;
margin-top:16px !important;
}



.sec-title h2{
font-family: Mark Sans;
position:relative;
color:#FFFFFF;
font-style:nomral;
font-weight:normal;
font-size:22px;
line-height:1.2em;
margin-top:35px;
}

.sec-title .text{
position:relative;
font-size:14px;
line-height:1.9em;
color:#555555;
margin-top:10px;
}

.sec-title.centered .separator{
margin:0 auto !important;
float:none !important;
}

.sec-title.centered{
text-align: center !important;
}

.sec-title.light .title{
color:#ffffff;
}

.sec-title.light h2{
color:#ffffff;
}

.sec-title.light .separator span{
background-color:#ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after{
background-color:#ffffff;
}

.team-section{
position:relative;
padding:80px 0px 60px;
}

.team-section.style-two .pattern-layer{
position:absolute;
left:0px;
top:0px;
right:0px;
bottom:0px;
background-position:center center;
background-repeat:no-repeat;
}

.team-section .title-box{
position:relative;
text-align:center;
}

.team-section .title-box h2{
position: relative;
color: #222222;
font-size: 36px;
font-weight: 700;
line-height: 1.3em;
margin-bottom: 50px;
}

.team-section .title-box h2 span{
color: #ff9600;
}

.team-block{
position:relative;
}
.team-block ul li{
list-style: none;
}
.team-block .inner-box{
position:relative;
padding:40px 70px 28px 0px;
}

.team-block .inner-box:before{
position:absolute;
content:'';
right:0px;
top:0px;
left:70px;
bottom:0px;
border-radius:10px;
background-color:#f5f5f5;
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;
}

.team-block .inner-box::after{
position:absolute;
content:'';
top:0px;
left:70px;
bottom:0px;
width:0%;
border-radius:10px;
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;

background: #53bced;
}

.team-block .inner-box:hover::after{
width:81%;
}

.team-block .inner-box .social-icons{
position:absolute;
right:25px;
top:100px;
z-index:1;
}

.team-block .inner-box .social-icons li{
position:relative;
margin-bottom:20px;
}

.team-block .inner-box .social-icons li a{
position:relative;
color:#53bced;
font-size:18px;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation,
.team-block .inner-box:hover .lower-content p{
color:#ffffff;
}

.team-block .inner-box .image{
position:relative;
z-index:1;
border-radius:10px;
background-color:#000000;
box-shadow:inset 0px 0px 35px rgba(0,0,0,0.20);
}

.team-block .inner-box .image img{
position:relative;
width:100%;
display:block;
}

.team-block .inner-box .lower-content{
position:relative;
text-align:left;
z-index:1;
padding:30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3{
position:relative;
color:#E20351;
font-size:18px;
font-weight:700;
line-height:1.3em;
}

.team-block .inner-box .lower-content h3 a{
position:relative;
color:#53bced;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation{
position:relative;
margin-top:5px;
color:#393939;
font-size:14px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a{
color:#ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a{
color:#ffffff;
}

.row{
/* align-items: center; */
justify-content: center;
}

@media only screen and (max-width: 767px) {
.team-block .inner-box:hover::after{
width:88%;
}
}



/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f0fdef2c;
  
}

.wrap-contact100 {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ Contact more ]*/
.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 15px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 85, 21, 0);
}



/*==================================================================
[ Form ]*/

.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 55px 15px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 15px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 100%;
}

.rs2-wrap-input100 {
  border-left: none;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none; 
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}


textarea.input100 {
  /* min-height: 139px; */
  padding-top: 19px;
  padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #00ad5f;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }

  .contact100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



