body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://source.unsplash.com/1600x1366/?landscape");
    background-size: cover;
     background-repeat: no-repeat;
    font-size: 90%;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .nav_menu {
      position: fixed;
      top: 3rem;
      right: -200%;
      width: 100%;
      height: 100%;
      padding-top: 2rem;
      box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
      transition: 0.5s;
      z-index: 1;
    }
  }
  
  .nav_item {
    margin-bottom: 2rem;
    list-style: none;
  }
  
  .nav_link {
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 15px;
    font-weight: 700;
    transition: all 1s;
    text-decoration: none;
  }
  .nav_link:after, .nav_link:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid rgba(0, 0, 0, 0.685);
    transition: all 1s;
  }
  .nav_link:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid rgba(0, 0, 0, 0.685);
    border-left: 2px solid rgba(0, 0, 0, 0.685);
  }
  .nav_link:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.685);
    border-right: 2px solid rgba(0, 0, 0, 0.685);
  }
  .nav_link:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .nav_link:hover:before, .nav_link:hover:after {
    width: 100%;
    height: 100%;
  }
  
  /* Media queries */
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .nav {
      height: 4rem;
      margin-right: 1rem;
    }
    .nav_list {
      display: flex;
      justify-content: center;
    }
    .nav_item {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .nav_menu {
      position: relative;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    }
    .nav_item {
      padding-right: 1rem;
      font-size: 1.1rem;
    }

.card {
    background: rgba(0, 0, 0, 0.685);
    color: white;
    padding: 26px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.card:hover{
  box-shadow: 10px 10px 10px rgba(63, 63, 63, 0.712);
border-radius: 9px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 8px;
    border-radius:50%;
    border: none;
    height: 34px;
    width: 34px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b; 
}

.search-bar{
    border: none;
    outline: none;
    padding: 7px 8px;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 70px);

}

h1.temp {
    margin: 0;
    margin-bottom: 10px;
}

img.icon{
    padding: 0;
    margin: 0;
    height: 80px;
    width: 80px;
}

div.humidity{
    margin-top: 8px;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

@media only screen and (min-width: 768px){
    body{
        font-size: 120%;
    }
    .card{
        max-width: 420px;
        
    }
    button{
        height: 44px;
        width: 44px;
    }
}
