*{
    margin: 0;
    padding: 0;
   
    
}


.navbar-nav{
    margin-left: 700px;

}
.navbar-nav  li a{
    
    color: white !important;
}
.navbar-nav li a:hover{
    color: green!important;
}
.navbar{
    background-image: linear-gradient(to right ,#60ee9b,#3bca5f);
}

.btn{
    border-radius: 20px;
}


.btn:hover{
    color: #60ee9b;


}


/* ------------------ Banner -------------------------  */
#banner{
  margin-top: 40px;
}
#banner h1{
  font-family: 'Dancing Script', cursive;

  font-size: 50px;
}
#banner P{
  color: #3bca5f;
}
.card{
  width: 300px;
}

/* ------------------------------ABOUT US------------------------  */

#about{
  margin-top: 55px;
  background-color: #ecf3ffa8;
}
#about h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;

  font-size: 50px;
}
#about p{
  text-align: center;
  color: #308d47;
}
#about img{
  width: 75%;
  height: 75%;
}


/* --------------------- OPP---------------------  */
#opp{
  margin-top: 80px;
}
.icon i{
  color: #5cb874;
  font-size: 42px
}
.row .col-md-4{
  padding: 12px 23px;
}
.row .col-md-4 h3{
  padding: 12px 0;
}



/* ------------------ AGENDAS-------------------------  */

#problems{
  margin-top: 80px;
  background: url('images/plants/bg2.jpg');
  /* background-color: rgb(184, 250, 204); */
  background-repeat: no-repeat;
  background-size: cover;
}

#problems .col-md-4{
  text-align: center;
  
  
  
  /* padding: 0 ; */
  
}
#problems h1{
  color: rgb(15, 59, 109);
}
#problems .card-title{
  color: #3bca87;
}
#problems .card-text{
  color: gray;
}
#problems .col-md-4 :hover{
  /* background-image: url('images/plants/bg2.jpg'); */
  background-color: rgb(101, 192, 214);
  background-repeat: no-repeat;
  background-size: cover;
  
}
#problems .col-md-4 :hover .card-title {
  color: rgb(15, 59, 109);
  background: none;
  font-weight: 500;
}
#problems .col-md-4 :hover .card-text{
  color: #fff;
  background: none;
  font-weight: 500;
  z-index: 999;
}





/* --------------------- SLOGANS -------------------------------  */

#slogans{
  margin-top: 80px;
  background-color: #ecf3ffa8;
  
}
#slogans h1{
  text-align: center;
}
#slogans .row p{
  font-family:  'Dancing Script', cursive;
  font-size: 40px;
}
/* #slogans .row .right{
  margin-top:5px;
} */
#slogans .row .right img{
  height: 220px;
  
}



/* ------------------------- TEAM--------------------------------  */


.team-page-section{
  position:relative;
  padding-top:70px;
  
}


.team-page-section .team-block{
  margin-bottom:60px;
}

.sec-title{
  position:relative;
  z-index:1;
  margin-bottom:65px;
}
.lower-content p{
font-size:0.7em;
text-align:left;
 color: #393939; 
}

.sec-title .title{
  font-family: Red Hat Display;
  position:relative;
  font-size:60px;
  color:#53bced;
  font-weight:900;
  margin:5px 0px 5px 0px;
  text-transform:capitalize;
  line-height: 79px;
}

.sec-title .separator{
  position:relative;
  width:40px;
  margin-top:16px !important;
}



.sec-title h2{
  font-family: Mark Sans;
  position:relative;
  color:#FFFFFF;
  font-style:nomral;
  font-weight:normal;
  font-size:22px;
  line-height:1.2em;
  margin-top:35px;
}

.sec-title .text{
  position:relative;
  font-size:14px;
  line-height:1.9em;
  color:#555555;
  margin-top:10px;
}

.sec-title.centered .separator{
  margin:0 auto !important;
  float:none !important;
}

.sec-title.centered{
  text-align: center !important;
}

.sec-title.light .title{
  color:#ffffff;
}

.sec-title.light h2{
  color:#ffffff;
}

.sec-title.light .separator span{
  background-color:#ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after{
  background-color:#ffffff;
}

.team-section{
  position:relative;
  padding:80px 0px 60px;
}

.team-section.style-two .pattern-layer{
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background-position:center center;
  background-repeat:no-repeat;
}

.team-section .title-box{
  position:relative;
  text-align:center;
}

.team-section .title-box h2{
  position: relative;
  color: #222222;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 50px;
}

.team-section .title-box h2 span{
  color: #ff9600;
}

.team-block{
  position:relative;
}
.team-block ul li{
list-style: none;
}
.team-block .inner-box{
  position:relative;
  padding:40px 70px 28px 0px;
}

.team-block .inner-box:before{
  position:absolute;
  content:'';
  right:0px;
  top:0px;
  left:70px;
  bottom:0px;
  border-radius:10px;
  background-color:#f5f5f5;
  -webkit-transition:all 600ms ease;
  -moz-transition:all 600ms ease;
  -ms-transition:all 600ms ease;
  -o-transition:all 600ms ease;
  transition:all 600ms ease;
}

.team-block .inner-box::after{
  position:absolute;
  content:'';
  top:0px;
  left:70px;
  bottom:0px;
  width:0%;
  border-radius:10px;
  -webkit-transition:all 600ms ease;
  -moz-transition:all 600ms ease;
  -ms-transition:all 600ms ease;
  -o-transition:all 600ms ease;
  transition:all 600ms ease;

  background: #53bced;
}

.team-block .inner-box:hover::after{
  width:81%;
}

.team-block .inner-box .social-icons{
  position:absolute;
  right:25px;
  top:100px;
  z-index:1;
}

.team-block .inner-box .social-icons li{
  position:relative;
  margin-bottom:20px;
}

.team-block .inner-box .social-icons li a{
  position:relative;
  color:#53bced;
  font-size:18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation,
.team-block .inner-box:hover .lower-content p{
  color:#ffffff;
}

.team-block .inner-box .image{
  position:relative;
  z-index:1;
  border-radius:10px;
  background-color:#000000;
  box-shadow:inset 0px 0px 35px rgba(0,0,0,0.20);
}

.team-block .inner-box .image img{
  position:relative;
  width:100%;
  display:block;
}

.team-block .inner-box .lower-content{
  position:relative;
  text-align:left;
  z-index:1;
  padding:30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3{
  position:relative;
  color:#E20351;
  font-size:18px;
  font-weight:700;
  line-height:1.3em;
}

.team-block .inner-box .lower-content h3 a{
  position:relative;
  color:#53bced;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation{
  position:relative;
  margin-top:5px;
  color:#393939;
  font-size:14px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a{
  color:#ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a{
  color:#ffffff;
}

.row{
  /* align-items: center; */
  justify-content: center;
}

@media only screen and (max-width: 767px) {
.team-block .inner-box:hover::after{
  width:88%;
}
}

